# Subqueries in the SELECT, FROM, WHERE statements#

In [7]:
import pandas as pd
import sqlite3

<img src="chinook.png">

In [8]:
# connect withe the chinook database 
connection = sqlite3.connect("chinook.db")

# cursor object 
crsr = connection.cursor()

In [9]:
def sql_query(query):

    # execute the command to fetch all the data from the table emp 
    crsr.execute(query)

    # store all the fetched data in the ans variable 
    ans = crsr.fetchall()

    # get the column names in a table
    names = [description[0] for description in crsr.description]

    return pd.DataFrame(ans,columns=names)

In [10]:
#Base Queries
query = '''
SELECT * 
FROM tracks
WHERE albumid = 1;
'''

sql_query(query)

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,6,Put The Finger On You,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,0.99
2,7,Let's Get It Up,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,0.99
3,8,Inject The Venom,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99
4,9,Snowballed,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",203102,6599424,0.99
5,10,Evil Walks,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263497,8611245,0.99
6,11,C.O.D.,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",199836,6566314,0.99
7,12,Breaking The Rules,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263288,8596840,0.99
8,13,Night Of The Long Knives,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205688,6706347,0.99
9,14,Spellbound,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",270863,8817038,0.99

In [ ]:
#Subquery in SELECT
#Base Queries
query = '''
SELECT *, (SELECT name FROM )
FROM tracks
WHERE albumid = 1;
'''

sql_query(query)

In [ ]:
#Subquery in FROM

In [ ]:
#Subquery in WHERE